@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&display=swap');


:root {
  --font-family-brand: 'Kalnia', serif;
}

body {
  background-color: #121212;
}

@for $i from 1 through 10 {
  .z-index-#{$i} {
    position: relative;
    z-index: $i;
  }
}

.cursor-pointer {
  cursor: pointer;
  * {
    cursor: pointer;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.reset-link {
  color: inherit;
  text-decoration: inherit;
}

.text-brand {
  font-family: var(--font-family-brand);
  font-weight: 400;
  &.text-bold {
    font-weight: 700;
  }
}

.overlay-50 {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: background-color 0.2s ease-in-out;
  }
}
.overlay-disabled {
  &::after {
    background-color: rgba(0, 0, 0, 0);
  }
}

.bg-glass {
  background: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter: blur(6px) !important;
  -webkit-backdrop-filter: blur(6px) !important;
}