body {
  background-color: #121212;
}

@for $i from 1 through 10 {
  .wp-z-index-#{$i} {
    position: relative;
    z-index: $i;
  }
}

@for $i from 0 through 100 {
  .wp-opacity-#{$i} {
    opacity: $i * 0.01;
  }
}

.wp-cursor-default {
  cursor: default;
  * {
    cursor: default;
  }
}

.wp-cursor-pointer {
  cursor: pointer;
  * {
    cursor: pointer;
  }
}

.wp-pointer-events-none {
  pointer-events: none;
  * {
    pointer-events: none;
  }
}

.wp-user-select-none {
  user-select: none;
  * {
    user-select: none;
  }
}

.wp-reset-link {
  color: inherit;
  text-decoration: none;
}

.wp-overlay {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30vh;
    right: -30vh;
    z-index: 1;
    pointer-events: none;
    background: radial-gradient(circle, rgba(black, 0.4) 0%, rgba(black, 1) 100%);
  }
}

.wp-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: inherit;
}